<mat-menu #viewNotification="matMenu" xPosition="before" >
    <div class="notification-menu">
        <div fxLayoutAlign="space-between">
            <h3 mat-menu-item>Notification </h3>
            <span mat-menu-item><mat-icon>miscellaneous_services</mat-icon></span>
        </div> 
        
        <span mat-menu-item>Notification 1</span>
        <span mat-menu-item>Notification 2</span>
        <span mat-menu-item>Notification 3</span>
        <span mat-menu-item>Notification 4</span>
        <span mat-menu-item>Notification 5</span>
    </div>
   
</mat-menu>